@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face{
  font-family: "gilroy";
  src:local("GilroyBold"),url("/public/fonts/Gilroy-Bold.ttf") format('ttf');
  font-weight: 700;
} */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary:#FF455C;
  --color-secondary:#14133B;
  /* --font:'goliry' ,sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-gilory) ;
  color: #000;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}




/* rating */
.dv-star-rating-star{
padding-right: 5px;
}
.dv-star-rating-star i{
  font-size: 2.4rem;
}
