@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary:#FF455C;
  --color-secondary:#14133B;
  /* --font:'goliry' ,sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  /* color: rgb(var(--foreground-rgb)); */
  font-family: var(--font-gilory) ;
  color: var(--color-secondary);

}

/* footer social icons */
.socialIcons:hover div{
  border-color:#fff
}
.socialIcons:hover svg path {
  fill: #fff;
}

/* tabs */
.tab {
	overflow-y: hidden;
  opacity: 1;
	max-height: 300px;  /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.tab.closed{
  max-height: 0;
  opacity: 0;

}
/* menu */
.megamenu::before{
  content: " ";
  position: absolute;
  background: url('/public/images/arrow-upper.svg');
  background-repeat: no-repeat;
  top:0;
  left:50%;
  width: 15px;
  height: 15px;
}


/* rating */
.dv-star-rating-star{
padding-right: 5px;
}
.dv-star-rating-star i{
  font-size: 2.4rem;
}


/* slider pagination */

.swiper{
  display: flex;
  flex-direction: column;
}
.mySwiper{
height: 100%;
max-width: 1320px;
padding-bottom: 10px;
}
.mySwiper [class^="swiper-button-"]{
  top: initial;
  bottom: 0;
}


.swiper .swiper-button-prev
{
background-color: #fff9fa;
width: 52px;
height: 52px;
border-radius: 50%;
left:initial;
right:150px;

}
.swiper .swiper-button-next{
  background-color: #fff9fa;
width: 52px;
height: 52px;
border-radius: 50%;
right:0;
}

.swiper .swiper-button-prev::after{
content: url('/images/Previous-arrow.svg');
background-repeat: no-repeat;
font-size: 14px;
}
.swiper .swiper-button-next::after{
  content: url('/images/Next-arrow.svg');
  background-repeat: no-repeat;
  font-size: 14px;
}
.swiper .swiper-pagination{
  position: absolute;
  top: initial;
    bottom: 14px;
    right: 80px;
    left: initial;
    width: auto;
  color:var(--color-primary);

}

.swiper .swiper-pagination span{
  color:var(--color-primary);
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}


@media (max-width:1024px){
  .swiper.mySwiper{
    padding-bottom: 15px;
  }
.swiper .swiper-pagination{
bottom: 15px;
}
  }
  

